.navbar{
    background-color: rgb(166, 114, 71);
}
.nav-link,.active{
    color: white;
    font-family: 'Ubuntu',sans-serif;

}
h2{
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.list-group-item{
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
}
p{
    font-family: 'Ubuntu',sans-serif;
}
.card-title{
    margin-bottom: 2vh;
}
.btn{
    background-color: rgb(166, 114, 71);
    outline: none !important;
    border: none !important;
    font-family: 'Ubuntu',sans-serif;
}

.btn:hover{
    background-color: rgb(110, 76, 49);
}
.about{
    justify-content: center;
    margin-bottom: 5vh;
    max-width: 50vw;
    
    
}
.accordion{
    gap: 0 !important;
    margin: 0;
    margin: 0 !important;
    /* border: 1px solid tomato; */
    border-radius: 10px;
}

.accordion h2{
    margin: 0;
    
}
.accordion:focus, .accordion-button:focus, .accordion-header:focus{
    outline:none;
    box-shadow: none;
    /* color: transparent; */
    background-color: transparent;
}

.accordion-item{
    border: 1px solid rgb(166, 114, 71);
}
.table-cont{
    display: flex;
    justify-content: center;
}
.table{
    max-width: 50vw;
    text-align: center;
}

.carousel{
    max-width: 50vw;
}
.carousel-img{
    max-width: 50vw;
}

.active{
    color: black;
    transform: scale(105%);
    transition: .2s all;
}
